* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

header {
    height: 600px;
    background-color: #255EE9;
}

main {
    height: 3000px;
    /* background-color: gray; */
}

footer {
    height: 600px;
    background-color: black;
}

/* Header */
header nav {
    height: 15%;
    background-color: white;
    justify-content: space-around;
    padding: 10px;
}

nav figure, nav div {
    flex-basis: 10%;
}

nav ul {
    list-style-type: none;
    flex-basis: 40%;
}

nav figure, nav ul, nav > div {
    background-color: black;
}

header .title {
    width: 40%;
    height: 50%;
    margin: 8% auto 2%;
    background-color: white;
}

/* Main */
main .small-section {
    height: 20%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#big-section {
    height: 40%;
    
}

main section:nth-child(odd) {
    background-color: #FFFFFF;
}

main section:nth-child(even) {
    background-color: #F6F6F6;
}

main .small-section figure {
    flex-basis: 30%;
}

main .small-section div {
    flex-basis: 25%;
}

main .small-section div, main .small-section figure {
    height: 65%;
}

main section figure {
    background-color: black;
}

main section div {
    background-color: red;
}

#big-section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#big-section h3 {
    flex-basis: 10%;
    width: 65%;
    background-color: red;
}

#big-section div {
    flex-basis: 10%;
    width: 40%;
}

#big-section figure {
    flex-basis: 60%;
    width: 70%;
}

/* Footer */
footer {
    padding: 5% 8%;
}

footer .footer-top {
    height: 80%;
    justify-content: space-between;
    gap: 5%;
    border-bottom: 1px solid gray;
}

footer .footer-info {
    flex-basis: 20%;
    height: 50%;
    background-color: blue;
}

footer .footer-lists {
    height: 80%;
    flex-basis: 80%;
    justify-content: space-between;
}

footer ul {
    background-color: blue;
    flex-basis: 15%;
    height: 100%;
}

footer .footer-bottom {
    height: 20%;
    justify-content: space-between;
    padding: 2% 0;
}

footer .footer-bottom div{
    width: 10%;
    height: 100%;
    background-color: white;
}







